<%- include('partials/header'); -%>

<form action="/signup" method="POST">
    <h2> Sign Up</h2>
    <label for="email"> Email </label>
    <input type="text" name="email" required /> 
    <div class="email error"></div>
    <label for="username"> Username </label>
    <input type="text" name="username" required />
    <div class="username error"></div>
    <label for="password"> Password </label>
    <input type="text" name="password" required />
    <div class="password error"></div>
    <button type="submit"> Submit </button>

    <h3> Already have an account? <a href="/login"> Log in </a></h3>
</form>

<%- include('partials/footer'); -%>